<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/jsf/facelets">
<body th:fragment="header">
    <div class="navbar-container" id="navbar-container">
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
        <span class="sr-only">切换菜单</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <div class="navbar-header pull-left">
        <a href="#" class="navbar-brand">
            <small>
                <i class="fa fa-leaf"></i>
                客户关系管理系统
            </small>
        </a>
    </div>

    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li class="grey">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="ace-icon fa fa-tasks"></i>
                    <span class="badge badge-grey">4</span>
                </a>
                <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                    <li class="dropdown-header">
                        <i class="ace-icon fa fa-check"></i>
                        4 Tasks to complete
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Software Update</span>
                                <span class="pull-right">65%</span>
                            </div>
                            <div class="progress progress-mini">
                                <div style="width:65%" class="progress-bar"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Hardware Update</span>
                                <span class="pull-right">45%</span>
                            </div>
                            <div class="progress progress-mini">
                                <div style="width:45%" class="progress-bar"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="green">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="ace-icon fa fa-bell icon-animated-bell">
                    </i>
                    <span class="badge">2</span>
                </a>
                <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Bell ringing</span>
                                <span class="pull-right">10</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="light-blue">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <img class="nav-user-photo" src="assets/avatars/user.jpg" th:src="@{/avatars/user.jpg}"/>
                            <span class="user-info">
                                <small>welcome,</small>Tom
                            </span>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yello dropdown-caret droopdown-close">
                    <li>
                        <a href="#">
                            <i class="ace-icon fa fa-cog"></i>
                            设置
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ace-icon fa fa-user"></i>
                            资料
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ace-icon fa fa-power-off  "></i>
                            退出
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div><!--/.navbar-container-->
</body>
</html>