<!DOCTYPE html>
<html  xmlns:th="http://java.sun.com/jsf/facelets">
<div th:fragment="htmlfoot">
<!-- basic scripts -->

<!--[if !IE]> -->
<script src="../assets/js/jquery.js" th:src="@{/js/jquery.js}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="../assets/js/jquery1x.js" th:src="@{/js/jquerylx.js}"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("&lt;script src='/js/jquery.mobile.custom.js'&gt;"+"&lt;"+"/script&gt;");
</script>
<script src="../assets/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="../assets/js/excanvas.js" th:src="@{/js/excanvas.js}"></script>
<![endif]-->
<script src="../assets/js/jquery-ui.custom.js" th:src="@{/js/jquery-ui.custom.js}"></script>
<script src="../assets/js/jquery.ui.touch-punch.js" th:src="@{/js/jquery.ui.touch-punch.js}"></script>
 <scritp src="../assets/js/ace/" th:src="@{/js/bootbox.js}"></scritp>
<script src="../assets/js/jquery.easypiechart.js" th:src="@{/js/jquery.easypiechart.js}"></script>
<script src="../assets/js/jquery.sparkline.js" th:src="@{/js/jquery.sparkline.js}"></script>
<script src="../assets/js/flot/jquery.flot.js" th:src="@{/js/flot/jquery.flot.js}"></script>
<script src="../assets/js/flot/jquery.flot.pie.js" th:src="@{/js/flot/jquery.flot.pie.js}"></script>
<script src="../assets/js/flot/jquery.flot.resize.js" th:src="@{/js/flot/jquery.flot.resize.js}"></script>
<script src="" th:src="@{/js/date-time/bootstrap-datepicker.js}"></script>
<script src="../assets/js/jqGrid/jquery.jqGrid.js" th:src="@{/js/jqGrid/jquery.jqGrid.js}"></script>
<script src="../assets/js/jqGrid/i18n/grid.locale-en.js" th:src="@{/js/jqGrid/i18n/grid.locale-cn.js}"></script>
<!-- ace scripts -->
<script src="../assets/js/ace/elements.scroller.js" th:src="@{/js/ace/elements.scroller.js}"></script>
<script src="../assets/js/ace/elements.colorpicker.js" th:src="@{/js/ace/elements.colorpicker.js}"></script>
<script src="../assets/js/ace/elements.fileinput.js" th:src="@{/js/ace/elements.fileinput.js}"></script>
<script src="../assets/js/ace/elements.typeahead.js" th:src="@{/js/ace/elements.typeahead.js}"></script>
<script src="../assets/js/ace/elements.wysiwyg.js" th:src="@{/js/ace/elements.wysiwyg.js}"></script>
<script src="../assets/js/ace/elements.spinner.js" th:src="@{/js/ace/elements.spinner.js}"></script>
<script src="../assets/js/ace/elements.treeview.js" th:src="@{/js/ace/elements.treeview.js}"></script>
<script src="../assets/js/ace/elements.wizard.js" th:src="@{/js/ace/elements.wizard.js}"></script>
<script src="../assets/js/ace/elements.aside.js" th:src="@{/js/ace/elements.aside.js}"></script>
<script src="../assets/js/ace/ace.js" th:src="@{/js/ace/ace.js}"></script>
<script src="../assets/js/ace/ace.ajax-content.js" th:src="@{/js/ace/ace.ajax-content.js}"></script>
<script src="../assets/js/ace/ace.touch-drag.js" th:src="@{/js/ace/ace.touch-drag.js}"></script>
<script src="../assets/js/ace/ace.sidebar.js" th:src="@{/js/ace/ace.sidebar.js}"></script>
<script src="../assets/js/ace/ace.sidebar-scroll-1.js" th:src="@{/js/ace/ace.sidebar-scroll-1.js}"></script>
<script src="../assets/js/ace/ace.submenu-hover.js" th:src="@{/js/ace/ace.submenu-hover.js}"></script>
<script src="../assets/js/ace/ace.widget-box.js" th:src="@{/js/ace/ace.widget-box.js}"></script>
<script src="../assets/js/ace/ace.settings.js" th:src="@{/js/ace/ace.settings.js}"></script>
<script src="../assets/js/ace/ace.settings-rtl.js" th:src="@{/js/ace/ace.settings-rtl.js}"></script>
<script src="../assets/js/ace/ace.settings-skin.js" th:src="@{/js/ace/ace.settings-skin.js}"></script>
<script src="../assets/js/ace/ace.widget-on-reload.js" th:src="@{/js/ace/ace.widget-on-reload.js}"></script>
<script src="../assets/js/ace/ace.searchbox-autocomplete.js" th:src="@{/js/ace/ace.searchbox-autocomplete.js}"></script>
</div>
</html>