<!DOCTYPE html>
<html  xmlns:th="http://java.sun.com/jsf/facelets">
<body th:fragment="htmlfoot">
<!-- basic scripts -->

<!--[if !IE]> -->
<!--<script type="text/javascript">-->
<!--window.jQuery || document.write("<script src='assets/js/jquery.min.js'>"+"<"+"/script>");-->
<!--</script>-->

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<!--<script type="text/javascript">-->
<!--if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");-->
<!--</script>-->

<script src="assets/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="assets/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="assets/js/excanvas.min.js" th:src="@{/js/excanvas.min.js}"></script>
<![endif]-->
<script src="assets/js/jquery-ui.custom.min.js" th:src="@{/js/jquery-ui.custom.min.js}"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
<script src="assets/js/jquery.sparkline.min.js" th:src="@{/js/jquery.sparkline.min.js}"></script>
<script src="assets/js/flot/jquery.flot.min.js" th:src="@{/js/flot/jquery.flot.min.js}"></script>
<script src="assets/js/flot/jquery.flot.pie.min.js" th:src="@{/js/flot/jquery.flot.pie.min.js}"></script>
<script src="assets/js/flot/jquery.flot.resize.min.js" th:src="@{/js/flot/jquery.flot.resize.min.js}"></script>

<!-- ace scripts -->
<script src="assets/js/ace-elements.min.js" th:src="@{/js/ace-elements.min.js}"></script>
<script src="assets/js/ace.min.js" th:src="@{/js/ace.min.js}"></script>

<!-- inline scripts related to this page -->


<!-- the following scripts are used in demo only for onpage help and you don't need them -->
<link rel="stylesheet" href="assets/css/ace.onpage-help.css" th:href="@{/css/ace.onpage-help.css}"/>
<link rel="stylesheet" href="docs/assets/js/themes/sunburst.css" th:href="@{/js/themes/sunburst.css}"/>

<script type="text/javascript"> ace.vars['base'] = '..'; </script>
<script src="assets/js/ace/elements.onpage-help.js" th:src="@{/js/ace/elements.onpage-help.js}"></script>
<script src="assets/js/ace/ace.onpage-help.js" th:src="@{/js/ace/ace.onpage-help.js}"></script>
<script src="docs/assets/js/rainbow.js" th:src="@{/js/rainbow.js}"></script>
<script src="docs/assets/js/language/generic.js" th:src="@{/js/language/generic.js}"></script>
<script src="docs/assets/js/language/html.js" th:src="@{/js/language/html.js}"></script>
<script src="docs/assets/js/language/css.js" th:src="@{/js/language/css.js}"></script>
<script src="docs/assets/js/language/javascript.js" th:src="@{/js/language/javascript.js}"></script>
</body>
</html>