<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/jsf/facelets">
<head th:replace="htmlhead :: htmlHead">
    <meta charset="UTF-8"/>
</head>
<body>
    <div class="sidebar responsive" id="sidebar" th:fragment="sidebar">
        <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <!--<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>&lt;!&ndash;.shortcuts&ndash;&gt;
            -->
            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>
                <span class="btn btn-info"></span>
                <span class="btn btn-warning"></span>
                <span class="btn btn-danger"></span>
            </div>
        </div><!--/.sidebar-shortcuts-->
        <ul class="nav nav-list">
            <li class="active">
                <a href="">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text">控制面板</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="" th:each="menu : ${session.menuList}">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text" th:text="${menu.menuName}"></span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu" th:if="${menu.children!=null}">
                    <li class="" th:each="childMenu : ${menu.children}">
                        <a th:href="${childMenu.menuUrl}" th:text="${childMenu.menuName}">
                            <i class="menu-icon fa fa-caret-right">
                            </i>
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
<script>

</script>
</body>
</html>