<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="common/htmlhead :: htmlHead">

</head>
<body class="no-skin">
    <!--导航栏-->
    <div class="navbar" id="navbar" th:include="common/header :: header">
    </div>
    <!--页面主体-->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
            <span class="sr-only">切换菜单</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--侧边栏 include sidebar-->
        <div th:replace="common/sidebar :: sidebar"></div>
        <div class="main-content">
            <div class="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <i class="ace-icon fa fa-user user-icon"></i>
                        <a href="#">查询产品信息</a>
                    </li>
                </ul>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <form id="searchForm" name="searchForm" th:action="@{/products/productList}">
                        <table class="table table-bordered">
                            <thead>
                                <th>名称</th>
                                <th>型号</th>
                                <th>等级/批次</th>
                                <th>单位</th>
                                <th>单价（元）</th>
                                <th>备注</th>
                            </thead>
                            <tbody>
                                <tr th:each="product : ${page.list}">
                                    <td th:text="${product.productName}"></td>
                                    <td th:text="${product.modelNo}"></td>
                                    <td th:text="${product.batch}"></td>
                                    <td th:text="${product.unit}"></td>
                                    <td th:text="${product.price}"></td>
                                    <td th:text="${product.remark}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="page"></div>
                        <input id="tempPageNo" type="hidden" th:value="${page.pageNo}" />
                        <input id="tempPageSize" type="hidden" th:value="${page.pageSize}" />
                        <input id="tempTotalPage" type="hidden" th:value="${page.totalPage}" />
                        </form>
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.page-content-->
            <!--footer area -->
        </div><!--/.main-content-->
    </div>

    <div th:replace="common/htmlfoot :: htmlfoot"></div>
    <link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/css/page/x_pagination.css}"/>
    <script th:src="@{/js/common.js}"></script>
    <script>
        $(document).ready(function() {
            var pageNo = $("#tempPageNo").val();
            var pageSize = $("#tempPageSize").val();
            var totalPage = $("#tempTotalPage").val();
            Common.method.pages.genPageNumber('searchForm',pageNo,pageSize, totalPage);
        })
    </script>
</body>
</html>