<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="cacheEnabled" value="false" />
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <typeAliases>
        <!-- 打包成jar包后，package声明alias方式似乎有问题-->
        <!--<package name="com.schoolguard.common.school.entity"/>-->
        <!--<package name="com.schoolguard.common.admin.entity"/>-->
        <typeAlias type="com.zhuojh.model.sys.SysMenu" alias="menu"/>
        <typeAlias type="com.zhuojh.model.sys.SysRole" alias="role"/>
        <typeAlias type="com.zhuojh.model.sys.SysUser" alias="user"/>
        <typeAlias type="com.zhuojh.model.sys.SysUserRole" alias="userRole"/>
        <typeAlias type="com.zhuojh.model.sys.SysRoleMenu" alias="roleMenu"/>
        <typeAlias type="com.zhuojh.model.setting.SysDataDict" alias="dataDict" />
    </typeAliases>

    <plugins>
        <!--<plugin interceptor="com.zhuojh.core.interceptor.PaginationInterceptor">
            <property name="databaseType" value="mysql"/>
        </plugin>-->
        <plugin interceptor="com.zhuojh.core.interceptor.OffsetLimitInterceptor">
            <!--<property name="oracle" value="com.jiesai.issp.dao.base.OracleDialect"/>
            <property name="mysql" value="com.hotent.core.mybatis.dialect.MySQLDialect"/>-->
            <property name="mysql" value="com.zhuojh.mapper.base.MySQLDialect"/>

            <!-- <property name="mssql" value="com.hotent.core.mybatis.dialect.SQLServer2005Dialect"/>
            <property name="mysql" value="com.hotent.core.mybatis.dialect.MySQLDialect"/>
            <property name="db2" value="com.hotent.core.mybatis.dialect.DB2Dialect"/>
            <property name="h2" value="com.hotent.core.mybatis.dialect.H2Dialect"/>
            <property name="dm" value="com.hotent.core.mybatis.dialect.DmDialect"/> -->
            <property name="pageSqlId" value=".*Page$" />
        </plugin>
    </plugins>

    <environments default="production">
        <environment id="production">
            <transactionManager type="JDBC">
                <property name="JDBC.DefaultAutoCommit" value="false" />
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="driver.encoding" value="UTF8"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
                <!-- set transaction isolation level to 2, TRANSACTION_READ_COMMITTED, PostgreSQL's default -->
                <property name="defaultTransactionIsolationLevel" value="2"/>
                <property name="poolMaximumActiveConnections" value="16"/>
                <property name="poolMaximumIdleConnections" value="5"/>
                <property name="poolMaximumCheckoutTime" value="20000"/>
                <property name="poolTimeToWait" value="20000"/>
                <!-- set pg_stat_activity.application_name for this connection -->
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<package name="com.schoolguard.commander.domain.admin.mapper"/>-->
        <mapper resource="mapper/sys/SysMenuMapper.xml"/>
        <mapper resource="mapper/sys/SysRoleMapper.xml"/>
        <mapper resource="mapper/sys/SysUserMapper.xml"/>
        <mapper resource="mapper/sys/SysUserRoleMapper.xml"/>
        <mapper resource="mapper/sys/SysRoleMenuMapper.xml"/>
        <mapper resource="mapper/setting/SysDataDictMapper.xml"/>
        <mapper resource="mapper/customer/CustomerMapper.xml"/>
        <mapper resource="mapper/customer/ContactMapper.xml"/>
        <mapper resource="mapper/customer/ContactHistoryMapper.xml"/>
        <mapper resource="mapper/sales/SalesOppotunityMapper.xml"/>
        <mapper resource="mapper/sales/CustomerDevPlanMapper.xml" />
        <mapper resource="mapper/services/ServicesMapper.xml" />
        <mapper resource="mapper/product/ProductMapper.xml" />
        <mapper resource="mapper/product/ProductStoreMapper.xml" />
        <mapper resource="mapper/order/OrderMapper.xml" />
        <mapper resource="mapper/order/OrderDetailsMapper.xml" />
    </mappers>

</configuration>